name: Discord Notification

on:
  push:
    branches:
      - main

jobs:
  discord:
    runs-on: ubuntu-latest
    steps:
    - name: Discord notification
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      uses: Ilshidur/action-discord@master
      with:
        args: 'Push event payload {{ EVENT_PAYLOAD }} '
          # args: 'New push to {{ EVENT_PAYLOAD.repository.name }} by {{ EVENT_PAYLOAD.committer.name }} {{ EVENT_PAYLOAD.repository.url }}'